<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="NumeroScheda" value="1" />
    <add key="NumeroColonna" value="1" />
    <add key="NumeroRiga" value="2" />
    
    <add key="Separatore" value="-" />
    <add key="CarattereRiempimento" value=" " />
    <add key="Pattern" value="20-10-10" />
  </appSettings>
</configuration>